.blog_button {
        font-family: 'Barlow', sans-serif;
        font-size: 100px;
        background-color: white;
        border-radius: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(15, 131, 160);
        color: rgb(15, 131, 160);
        padding: 20px;
        margin: 20px;
        cursor: pointer;
        transition: background-color 0.35s, color 0.35s,padding 0.5s;
    }

    .blog_button:hover {
        background-color: rgb(15, 131, 160);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        padding: 100px;
        color: white;
    }

    .blog_button:active {
        opacity: 0.3;
    }