*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$bclor: rgb(12, 12, 12);

@mixin wh($w,$h){
    width: $w;
    height: $h;
}

@mixin flexbox($dir){
    display: flex;
    flex-direction: $dir;
}

body{
    background-color: $bclor;
    font-family: Arial, Helvetica, sans-serif;
}
.animation{
    background-color: white;
    @include wh(100vw, 100vh);
    animation-delay: 4s;
    animation-name: color-change;
    animation-duration: 4s;
    position: relative;
}


.icon.icon-1.icon-2.icon-3{
    @include wh(40%,40%);
    transform: translate(-10px, 0);
    
}

.icon{
    z-index: 1;
}
.icon-1{
    svg .svg-elem-1 {
        stroke-dashoffset: 421.3978271484375px;
        stroke-dasharray: 421.3978271484375px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }

    svg.active .svg-elem-1 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-2 {
        stroke-dashoffset: 417.07586669921875px;
        stroke-dasharray: 417.07586669921875px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    }

    svg.active .svg-elem-2 {
        stroke-dashoffset: 0;
    }

    svg .svg-elem-4 {
        stroke-dashoffset: 376.68359375px;
        stroke-dasharray: 376.68359375px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.36s;
        transition: stroke-dashoffset 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.36s;
    }

    svg.active .svg-elem-4 {
        stroke-dashoffset: 0;
    }
    z-index: 2;
}
.icon-2{
    z-index: 3;
    svg .svg-elem-1 {
        stroke-dashoffset: 421.3978271484375px;
        stroke-dasharray: 421.3978271484375px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        transition: stroke-dashoffset 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    }

    svg.active .svg-elem-1 {
        stroke-dashoffset: 842.795654296875px;
    }

    svg .svg-elem-2 {
        stroke-dashoffset: 417.07586669921875px;
        stroke-dasharray: 417.07586669921875px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.19, 1, 0.22, 1) 0.12s;
        transition: stroke-dashoffset 1s cubic-bezier(0.19, 1, 0.22, 1) 0.12s;
    }

    svg.active .svg-elem-2 {
        stroke-dashoffset: 834.1517333984375px;
    }

    svg .svg-elem-4 {
        stroke-dashoffset: 376.68359375px;
        stroke-dasharray: 376.68359375px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.19, 1, 0.22, 1) 0.36s;
        transition: stroke-dashoffset 1s cubic-bezier(0.19, 1, 0.22, 1) 0.36s;
    }

    svg.active .svg-elem-4 {
        stroke-dashoffset: 753.3671875px;
    }
}
.icon-3{
    z-index: 4;
    
    svg .svg-elem-1 {
        stroke-dashoffset: 421.3978271484375px;
        stroke-dasharray: 421.3978271484375px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
        transition: stroke-dashoffset 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    }

    svg.active .svg-elem-1 {
        stroke-dashoffset: 842.795654296875px;
    }

    svg .svg-elem-2 {
        stroke-dashoffset: 417.07586669921875px;
        stroke-dasharray: 417.07586669921875px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
        transition: stroke-dashoffset 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.2s;
    }

    svg.active .svg-elem-2 {
        stroke-dashoffset: 834.1517333984375px;
    }

    svg .svg-elem-4 {
        stroke-dashoffset: 376.68359375px;
        stroke-dasharray: 376.68359375px;
        -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6000000000000001s;
        transition: stroke-dashoffset 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6000000000000001s;
    }

    svg.active .svg-elem-4 {
        stroke-dashoffset: 753.3671875px;
    }
}

.icon-4{
    @include flexbox(row);
    justify-content: center;
    align-items: center;
    @include wh(40px,40px);
    border-radius: 50%;
    border: 6px solid #0C0C0C;
    position: absolute;
    top:-10em;
    left: 47.3%;
    animation-fill-mode: forwards;
    animation-delay: 2.7s;
    animation-name: move;
    animation-duration: 2s;
    transition: all 0.4s;
    z-index: 5;
}

@keyframes change{
    0% {
        background-color: #78BCFC;
    }

    25% {
        background-color: #7EC3C3;
    }

    50% {
        background-color: #82C9C1;
    }

    100% {
        background-color: #69CD89;
    }
}

@keyframes move{
    to{
        top:38%;
    }
}

@keyframes color-change{
    to{
        background-color: #0C0C0C;
    }
}