* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3A7DBD;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #30689c;
}

::-webkit-resizer, ::-webkit-scrollbar-corner {
  background-color: #ffffff00;
}

.nav {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1em;
  background-color: #0c0c0c;
}

.nav .main-icon {
  margin: 0px 1em;
  width: 60px;
  height: 60px;
}

.nav .left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.nav .left-nav .nav-icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0px 0.5em;
  color: white;
}

.nav .left-nav .nav-icon span.left {
  color: #3A7DBD;
  margin-right: 0.7em;
}

.nav .left-nav .nav-icon span.right {
  color: #3A7DBD;
  margin-left: 0.7em;
}

.nav .left-nav .nav-icon:hover {
  background-color: #3A7DBD;
}

.nav .left-nav .nav-icon-img {
  -webkit-transform: scale(0.9) translate(0, 5%);
          transform: scale(0.9) translate(0, 5%);
  fill: #3A7DBD;
  margin: 0 0.5em;
}

.nav .left-nav .nav-icon-mail {
  width: 30px;
  height: 30px;
  fill: #3A7DBD;
  margin-left: 0.5em;
  margin-right: 1em;
}

.nav .left-nav a {
  text-decoration: none;
}

.main-view {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-view .main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-view .main-box .left-title {
  -webkit-transform: translate(0, 0.8em);
          transform: translate(0, 0.8em);
  margin-right: 1em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  opacity: 0;
  width: auto;
  height: 170px;
  color: white;
  overflow: hidden;
  border-bottom: 0.15em solid rgba(120, 188, 252, 0.8);
  white-space: nowrap;
  font-size: 2rem;
  -webkit-animation: typing 2.2s steps(20, end) 6s 1 alternate forwards, blink-caret 0.8s 2s infinite;
          animation: typing 2.2s steps(20, end) 6s 1 alternate forwards, blink-caret 0.8s 2s infinite;
}

.main-view .main-box .right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-view .main-box .right-box .title {
  display: inline-block;
  font-style: normal;
  font-weight: 900;
  font-size: 128px;
  line-height: 139px;
  background: linear-gradient(93.68deg, rgba(120, 188, 252, 0.8) 10.81%, rgba(144, 223, 214, 0.9) 81.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.main-view .main-box .right-box .title-down {
  background: linear-gradient(93.68deg, rgba(120, 188, 252, 0.8) 10.81%, rgba(144, 223, 214, 0.9) 81.1%);
  display: block;
  padding: 0 0.7em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 3.5em;
  font-weight: 600;
  color: #fffbfb;
}

.main-view .down-button {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  position: absolute;
  bottom: 1em;
  left: 47%;
  animation: buttom-move 0.6s ease-in-out 0s infinite alternate-reverse none;
}

@-webkit-keyframes typing {
  from {
    height: 0;
    opacity: 100;
  }
  to {
    height: 170px;
    opacity: 100;
  }
}

@keyframes typing {
  from {
    height: 0;
    opacity: 100;
  }
  to {
    height: 170px;
    opacity: 100;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(120, 188, 252, 0.8);
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(120, 188, 252, 0.8);
  }
}

@-webkit-keyframes buttom-move {
  from {
    bottom: 1em;
  }
  to {
    bottom: 0.6em;
  }
}

@keyframes buttom-move {
  from {
    bottom: 1em;
  }
  to {
    bottom: 0.6em;
  }
}

.first-page, .second-page, .third-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 110%;
}

.first-page .left-leading-title, .second-page .left-leading-title, .third-page .left-leading-title {
  position: absolute;
  top: 1em;
  left: -0.3em;
  width: 350px;
  background: linear-gradient(265.49deg, rgba(97, 152, 203, 0.92) 22.66%, rgba(169, 255, 188, 0.65) 85.36%);
  border-radius: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 5.5em;
  color: #FFFFFF;
  text-align: end;
  padding: 0 0.2em;
}

.first-page .left-leading-title {
  width: 270px;
}

.first-page .line {
  z-index: 3;
  position: absolute;
  height: 90vh;
  width: 4px;
  left: 350px;
  top: 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 125, 189, 0.15)), color-stop(rgba(97, 152, 203, 0.92)), to(rgba(58, 125, 189, 0.15)));
  background: linear-gradient(rgba(58, 125, 189, 0.15), rgba(97, 152, 203, 0.92), rgba(58, 125, 189, 0.15));
}

.first-page .link-box {
  position: absolute;
  left: 400px;
  top: 30%;
}

.first-page .link-box a {
  text-decoration: none;
}

.first-page .link-box a .link-box-content {
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 0.3em;
  font-size: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-page .link-box a .link-box-content .img-c {
  z-index: 2;
  width: 170px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(0, 0.1em);
          transform: translate(0, 0.1em);
  opacity: 0;
}

.first-page .link-box a .link-box-content .text {
  position: relative;
  color: white;
}

.first-page .link-box a .link-box-content .text span {
  color: #3A7DBD;
  margin: 0 0.4em;
}

.first-page .link-box a .link-box-content .text:hover + .img-c {
  -webkit-animation: link-box-content-img-opacity 0.6s ease-in 0s 1 alternate forwards;
          animation: link-box-content-img-opacity 0.6s ease-in 0s 1 alternate forwards;
}

.first-page .link-box a .link-box-content .text:hover {
  left: -0.4em;
  -webkit-animation: link-box-content-move 0.2s ease-in 0s 1 alternate forwards;
          animation: link-box-content-move 0.2s ease-in 0s 1 alternate forwards;
}

@-webkit-keyframes link-box-content-move {
  from {
    left: 0;
  }
  to {
    left: -0.4em;
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes link-box-content-move {
  from {
    left: 0;
  }
  to {
    left: -0.4em;
    -webkit-filter: blur(3px);
            filter: blur(3px);
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes link-box-content-img-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes link-box-content-img-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.second-page {
  position: relative;
}

.second-page .new-article {
  position: absolute;
  top: 17%;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-page .new-article .blog-box {
  width: 70%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-page .new-article .projects-box {
  width: 70%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-page .new-article a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.second-page .new-article a .article {
  width: 500px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(217, 217, 217, 0.1);
  border-radius: 20px;
  padding: 0.6em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.second-page .new-article a .article img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-page .new-article a .article .intro {
  margin-left: 0.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: auto;
  height: 240px;
}

.second-page .new-article a .article .intro .title {
  font-family: 'Barlow', sans-serif;
  color: white;
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 0.2em;
}

.second-page .new-article a .article .intro .content {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}

.second-page .new-article a .article .none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-page .new-article a .article .none svg {
  -webkit-transform: scale(5);
          transform: scale(5);
  opacity: 0.1;
}

.second-page .new-article a .article:hover {
  background-color: #747474;
}

.third-page .line {
  z-index: 3;
  position: absolute;
  height: 90vh;
  width: 4px;
  left: 350px;
  top: 20%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 125, 189, 0.15)), color-stop(rgba(97, 152, 203, 0.92)), to(rgba(58, 125, 189, 0.15)));
  background: linear-gradient(rgba(58, 125, 189, 0.15), rgba(97, 152, 203, 0.92), rgba(58, 125, 189, 0.15));
}

.third-page .link-box {
  position: absolute;
  left: 400px;
  top: 30%;
}

.third-page .link-box a {
  text-decoration: none;
}

.third-page .link-box a .link-box-content {
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 0.3em;
  font-size: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.third-page .link-box a .link-box-content svg {
  z-index: 2;
  width: 140px;
  height: 140px;
  fill: #3A7DBD;
}

.third-page .link-box a .link-box-content .text {
  position: relative;
  color: white;
}

.third-page .link-box a .link-box-content .text span {
  color: #3A7DBD;
  margin: 0 0.4em;
}

.third-page .link-box a .link-box-content:hover {
  -webkit-animation: link-box-content-color 0.5s ease-in 0s 1 alternate forwards;
          animation: link-box-content-color 0.5s ease-in 0s 1 alternate forwards;
}

@-webkit-keyframes link-box-content-color {
  100% {
    background-color: #3A7DBD;
  }
}

@keyframes link-box-content-color {
  100% {
    background-color: #3A7DBD;
  }
}

.back-button {
  position: fixed;
  opacity: 15%;
  right: 1.5em;
  bottom: 1em;
  z-index: 1;
  background-color: #30689c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.back-button svg {
  fill: white;
  -webkit-transform: rotate(180deg) scale(0.45) translate(22px, 39px);
          transform: rotate(180deg) scale(0.45) translate(22px, 39px);
}

.back-button:hover {
  opacity: 70%;
}

.bottom-nav {
  width: 100%;
  height: 20px;
  color: gray;
  text-align: center;
  font-size: 1em;
}

.bottom-nav a {
  text-decoration: none;
}

.bottom-nav a:visited {
  color: gray;
}
/*# sourceMappingURL=style.css.map */